{% extends "layout_unbranded.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{heading}}</h1>
      {{ govukErrorSummary({
        titleText: "There's a problem with the parameters of the authorize request",
        errorList: errorList
      }) }}
      
      {% for name, value in parameters %}
        {{ govukInput({
        label: {
          text: name
        },
        name: name,
        value: value,
        attributes: { readonly: "readonly" }
      }) }}
      {% endfor %}
      
    </div>
  </div>
{% endblock %}



