{% extends "layout_unbranded.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GOV.UK One Login Simulator
      </h1>
      <p>
        If you are using GOV.UK One Login to prove your user's identity, as well as
        authentication, you will need to use this key to 
        <a href="https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/prove-users-identity/#validate-your-user-s-identity-credential" target="_blank">verify the
        core identity claim</a>.
      </p>
      {{ govukTextarea({
        name: "publickey",
        id: "publickey",
        label: {
          text: "Core identity claim public key",
          classes: "govuk-label--m"
        },
        value: publicKey,
        classes: "govuk-!-font-size-16",
        hint: {
          text: "The key is different for each environment."
        },
        attributes: { readonly: true }
      }) }}
      <p>
        You can request the key for the integration and production environments from the GOV.UK One Login team.
      </p>
    </div>
  </div>

{% endblock %}